/*  your css code here. If applicable */
.h{
		text-align: center;
}
li{
	list-style-type: none
}
a{
	text-decoration-line: none
}
div{
	background-color:white;
	border:1px solid black;
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255);
	padding:10px; 
	border-radius:10px;
}